.wrapper {
  height: 200px;
  background-color: var(--color-primary-darkViolet);
  background-image: url('../../assets/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.wrapper h3 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}


@media screen and (max-width: 800px) {
  .wrapper {
    background-image: url('../../assets/bg-boost-mobile.svg');

  }
}
