.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 0 100px;
  margin-bottom: var(--margin-x);
  margin-left: var(--margin-x);
  overflow-x: hidden;
}

.hero-text h1 {
  font-size: calc(var(--font-size) + 42px);
  font-weight: 700;
  color: var(--color-neutral-darkViolet);
  line-height: 1.2;
}

.hero-text p {
  font-size: var(--font-size);
  color: var(--color-neutral-grayishViolet);
  margin-bottom: var(--margin-y);
}

.hero-illustration {
  transform: translateX(110px);
  overflow-x: hidden;
  transition: right 0.2s ease-out;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}
