.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  background-color: #fff;
  padding: 15px 40px;
  border-radius: var(--border-radius);
  margin-bottom: 15px;
}

.short-link-wrapper{
  display: flex;
  align-items: center;
  gap: 15px;
}

.original-link {
  font-size: var(--font-size);
}

.shortened-link {
  font-size: var(--font-size);
  color: var(--color-primary-cyan);
}
