.wrapper {
  background-color: var(--color-neutral-darkViolet);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: var(--margin-x);
}

/* LINKS */

.links-wrapper h4 {
  font-size: var(--font-size);
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.links-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links-wrapper li a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-neutral-grayishViolet);
  line-height: 2.3;
  transition: 0.3s;
}

.links-wrapper li a:hover {
  color: var(--color-primary-cyan);
}
